
@{
}
<div style="text-align: center">
    <div class="row my-5">
        <h1>You have been successfully added, @ViewBag.Firstname!</h1>
    </div>
    <div class="row my-5">
        <h6>You will be contacted by an admin if there is any other information needed!</h6>
    </div>
    <div class="row" style="text-align: center">
        <div>
            <div class="row" style="text-align: center">
                <p class="row" >
                    <span style="text-align: center">Click this button to bring you back to the Log-in Menu</span>
                </p>
             </div>
             <div class="row my-3">
                <a class="btn btn-primary" style="width: 20%; margin-left: auto; margin-right: auto" asp-action="LogIn" role="button">Click here!</a>
             </div>
        </div>
    </div>
</div>